prefix: "!" # 调用机器人的前缀
help_message: | # 帮助信息
  🤖 当前可用命令：
  - help 查看帮助信息
  - ping 测试连接
  - brute 强制更新文章订阅（仅限有权限的用户）
  - sign/daka/clockin 打卡测 rp
  - rp @member 查看自己或 member 最近 7 天的 rp 记录
  - rank/leaderboard 查看今日所有用户的 rp 排名
  - setu 随机获取一张涩图，是否 R18 取决于频道设置
  - fa/fabing/crazy @member 以 member 为主人公发病
  使用 {prefix} 前缀来使用命令，例如 {prefix}help

  🤖 当前每日播报：
  - 昨日全体成员 rp 图
  - bing 每日壁纸
  - 历史上的今天
  - 60s 读懂世界
skip_time: 1764518400 # 防止爬取过早文章发布
reaction: <:pig:1462399294614274222> # 机器人回应表情
channels: # 配置 channel 信息
  - id: 1463154750299181217
    send_message: true # 是否发送上线消息
    brute_admin: # 设置有权限 brute 的用户
      - 1291777339255951443
    follow_articles:
      - type: cnblogs # 博客园 rss
        url: [
          https://feed.cnblogs.com/blog/u/563274/rss/,
          https://feed.cnblogs.com/blog/u/662887/rss/
        ]
      - type: cyx_blogs # 作者博客
        url: [
          https://blog.cyx2009.top/atom.xml
        ]
      - type: luogu # 洛谷专栏
        uid: [
          516346,
          419487
        ]
    rp_total_board: true # 是否每天晚上发一张 rp 总表
    daily_bing: true # 是否接收必应壁纸
    daily_history: true # 是否接收历史上的今天
    daily_60s: true # 是否接收 60s 读懂世界
  - id: 1463139204849467412
    setu: true # 是否开启 pixiv 图功能
    r18: 0 # 是否允许发送 r18 图，0 不允许，1 只发 r18，2 混合